.gradle
/build/
/target/
/logs
/run-*.sh
/boot.sh
/bin/
!gradle/wrapper/gradle-wrapper.jar
/sample*
/.gradletasknamecache
/.vscode
/lombok.config
/GH_TOKEN

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/.attach_pid*
/.checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
