.gradle
/build/
/logs
/run-*.sh
/bin/
!gradle/wrapper/gradle-wrapper.jar
/sample/
/sample-all/
/sample-broken/
/.gradletasknamecache

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/.attach_pid*
/.checkstyle

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
