<mat-card *ngFor="let comic of comics">
  <mat-card-content>
    <div class="comic-summary">
      <div class="thumbnail">
        <a [routerLink]="['/read', comic.id, 0]"
          [matBadgeHidden]="!comic.read" matBadge="&#10004;" matBadgeColor="accent">
          <img [src]="thumbnail(comic)">
        </a>
      </div>
      <div>
        <h4>#{{ comic.number }} {{ comic.title }}</h4>
        <h5>{{ comic.year }}/{{ comic.month }}</h5>
        <p>{{ comic.summary }}</p>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="comic.read; else notRead"
      matTooltip="Mark as unread"
      (click)="markAsUnread(comic)" color="primary">
      <mat-icon>done_outline</mat-icon>
    </button>
    <button mat-button [routerLink]="['/browse', comic.id, 0]"
      matTooltip="Browse">
      <mat-icon>chrome_reader_mode</mat-icon>
    </button>
    <ng-template #notRead>
      <button mat-button color="primary"
        matTooltip="Mark as read"
        (click)="markAsRead(comic)">
        <mat-icon>done</mat-icon>
      </button>
    </ng-template>
    <a mat-button matTooltip="Download" href="/api/download/{{ comic.id }}">
      <mat-icon>save</mat-icon>
    </a>
    <span class="flex-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="markAsReadUntil(comic)">
        <mat-icon>done_all</mat-icon>
        <span>Mark read until here</span>
      </button>
      <button mat-menu-item [routerLink]="['/library']" [queryParams]="{ series: comic.series }">
        <mat-icon>library_books</mat-icon>
        <span>View in library</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
