<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Comics containing errors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="comics.length == 0">
    <ion-card-header>
      <ion-card-title>No issues</ion-card-title>
      <ion-card-subtitle>The library is in good condition</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card *ngFor="let comic of comics">
    <ion-card-header>
      <ion-card-title>{{ comic.fileName }}</ion-card-title>
      <ion-card-subtitle>{{ comic.path }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let error of comic.errors">
          <ion-label>
            <h4><i>{{ error.message }}</i></h4>
            <sub>{{ error.date | amTimeAgo }}</sub>
          </ion-label>
          <ion-icon slot="start" color="{{ issueSeverityToColor[error.severity] }}" name="alert"></ion-icon>
          <ion-button (click)="fix(comic, error)" *ngIf="error.fixable" [disabled]="error.inProgress" slot="end">
            <ion-icon slot="start" color="success" name="hammer"></ion-icon>
            Fix
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button slot="end"
        [routerLink]="['edit', comic.id]">
        <ion-icon slot="start" name="create"></ion-icon>
        Edit
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
