<ion-header>
  <ion-toolbar>
    <ion-title>
      Comics containing errors
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card *ngIf="comics.length == 0">
  <ion-card-header>
    <ion-card-title>No issues</ion-card-title>
    <ion-card-subtitle>The library is in good condition</ion-card-subtitle>
  </ion-card-header>
</ion-card>
<ion-card *ngFor="let comic of comics">
  <ion-card-header>
    <ion-card-title>{{ comic.fileName }}</ion-card-title>
    <ion-card-subtitle>{{ comic.path }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item *ngFor="let error of comic.errors">
        <ion-label>
          <h4><i>{{ error.message }}</i></h4>
          <sub>{{ error.date | amTimeAgo }}</sub>
        </ion-label>
        <ion-icon slot="start" color="{{ issueTypesToColor[error.type] }}" name="alert"></ion-icon>
      </ion-item>
    </ion-list>
    <ion-button slot="end" [routerLink]="['/edit/' + comic.id]">
      <ion-icon slot="start" name="create"></ion-icon>
      Edit
    </ion-button>
    <ion-button slot="end">
      Ignore
    </ion-button>
  </ion-card-content>
</ion-card>
