<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      #{{ comic?.number }} {{ comic?.title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="page">
    <ion-card-header>
      <ion-card-title>{{ comic.title}} #{{ comic.number }}</ion-card-title>
      <ion-card-subtitle>
        {{ comic.series }}
        <span *ngIf="comic.volume">Vol. {{ comic.volume }}</span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-button (click)="go(-1)">
        <ion-icon name="skip-backward"></ion-icon>
      </ion-button>
      <ion-button (click)="go(+1)">
        <ion-icon name="skip-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="image-container">
      <a [routerLink]="['/read', comic.id, currentPage]">
        <img *ngIf="imagePath" [src]="imagePath"
             alt="{{ comic.title }} # {{ comic.number }} page {{ currentPage }}">
      </a>
    </div>
    <ion-item>
      <ion-button (click)="go(-1)">
        <ion-icon name="skip-backward"></ion-icon>
      </ion-button>
      <ion-button (click)="go(+1)">
        <ion-icon name="skip-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
