\:host

  ion-content
    a.logo img
      height: 25px

    display: flex
    flex-direction: column

    ion-card.page
      display: flex
      flex-direction: column

      .image-container
        overflow: auto
        margin: 0 auto

        a
          display: block

        img
          height: 100vh
          width: inherit
