<mat-card *ngIf="comics?.length > 0">
  <mat-card-header>
    <mat-card-title>Currently reading</mat-card-title>
    <mat-card-subtitle>continue where you left off</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="comic-tiles">
    <mat-card *ngFor="let comic of comics" class="comic-tile">
      <mat-card-content class=".mat-h4">
        <mat-chip-list>
          <mat-chip color="accent" selected>{{ comic.series }}</mat-chip>
          <mat-chip color="primary" selected>Vol. {{ comic.volume }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <a [routerLink]="['/read', comic.id, 0]">
        <img [src]="thumbnail(comic)">
      </a>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip>#{{ comic.number }}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>

