<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bookmarks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="comics?.length == 0">
    <ion-card-header>
      <ion-card-subtitle>No comics found</ion-card-subtitle>
      <ion-card-title>Nothing here yet</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Comic volumes will appear here once you start reading.
    </ion-card-content>

    <ion-item>
      <ion-button href="/library">
        <ion-icon slot="start" name="play"></ion-icon>
        Start now
      </ion-button>
    </ion-item>
  </ion-card>

  <div *ngIf="comics?.length > 0">
    <ion-card *ngFor="let comic of comics" class="comic-tile">
      <ion-card-header>
        <ion-card-title>{{ comic.series }} #{{ comic.number }}</ion-card-title>
        <ion-card-subtitle>Vol. {{ comic.volume }}</ion-card-subtitle>
      </ion-card-header>
      <a [routerLink]="['/read', comic.id]"
         [queryParams]="{ page: comic.currentPage, parent: '/bookmarks' }">
        <img [attr.src]="thumbnails.get(comic.id) | async">
        <div class="progress" [ngStyle]="{'width.%': comic.currentPage/comic.pageCount*100}"></div>
      </a>
      <ion-item>
        <ion-button fill="clear" (click)="sync(comic)">
          <ion-icon slot="start" name="sync"></ion-icon>
          Sync
        </ion-button>
        <ion-button fill="clear" slot="end" (click)="openMenu($event, comic)">
          <ion-icon color="tertiary" name="more"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
