<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Account</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <ion-img class="avatar" [src]="user?.picture"></ion-img>
        </ion-avatar>
        <ion-label>
          <h3>{{ user?.name }}</h3>
          <p>{{ user?.email }}</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-button slot="end" (click)="logout()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Logout
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Appearance</ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-label>
            <p>Dark mode</p>
          </ion-label>
          <ion-toggle [(ngModel)]="userSettings.darkMode"
            (ionChange)="saveUserSettings()" name="Dark mode">
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Server</ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
        <ion-list lines="none">
          <ion-item *ngFor="let setting of settings">
            <ion-label position="floating">
              <p>{{ setting.comment }}</p>
            </ion-label>
            <ion-input placeholder="{{ setting.name }}" required
              [(ngModel)]="setting.value" name="{{ setting.key }}"
              #value="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-button type="submit" color="primary" slot="end"
              [disabled]="!settingsForm.form.valid">
              Save
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <app-scanner></app-scanner>
</ion-content>
