<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Account</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-avatar slot="start">
                  <ion-img class="avatar" [src]="user?.picture"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h3>{{ user?.name }}</h3>
                  <p>{{ user?.email }}</p>
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="12">
              <ion-button expand="block" size="small" (click)="logout()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                Logout
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Server settings</ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()" #settingsForm="ngForm">
        <ion-list>
          <ion-item *ngFor="let setting of settings">
            <ion-label position="floating">
              <p>{{ setting.comment }}</p>
            </ion-label>
            <ion-input placeholder="{{ setting.name }}" required
              [(ngModel)]="setting.value" name="{{ setting.key }}"
              #value="ngModel">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                </ion-col>
                <ion-col size-lg="2" size-md="3" size-sm="4" size-xs="12">
                  <ion-button type="submit" expand="block" [disabled]="!settingsForm.form.valid">
                    Save
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

  <app-scanner></app-scanner>

  <ion-card>
    <ion-card-header>Appearance</ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          Dark mode
          <ion-toggle slot="end" [(ngModel)]="userSettings.darkMode"
            (ionChange)="saveUserSettings()" name="Dark mode">
          </ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Version</ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          UI
          <ion-text slot="end">
            v{{ version }}
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
