<div class="pages-layer" #pagesLayer [ngStyle]="transformation" (click)="onClick($event)">
  <div class="set" *ngFor="let imageSet of imageSets">
    <div *ngFor="let image of imageSet" (swipeleft)="onSwipe(1)" (swiperight)="onSwipe(-1)">
      <img *ngIf="image.src" [attr.src]="image.src | secure | async"
          [ngClass]="{ loaded: image.loaded }"
          (load)="imageLoaded(image)"
          alt="{{ comic.series }} #{{ comic.number }} page {{ image.page }}" />
    </div>
  </div>
</div>

<div class="control-layer" *ngIf="showControls" (click)="toggleControls()">
  <div class="top">
    <ion-button color="secondary" (click)="back()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
  <div class="center">
    <div class="volume">
      <ion-text color="primary">{{ comic.series }} Vol. {{ comic.volume }} #{{ comic.number }}</ion-text>
    </div>
    <div class="title">
      <ion-text color="primary">
        {{ comic.title }}
      </ion-text>
    </div>
  </div>
  <div class="bottom">
    <ion-button color="secondary" (click)="openPrevious()">
      <ion-icon name="play-skip-back"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="go(-1)">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="go(+1)">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="openNext()">
      <ion-icon name="play-skip-forward"></ion-icon>
    </ion-button>
  </div>
</div>
