<mat-card class="page">
  <mat-card-header>
    <mat-card-title>{{ comic.title}} #{{ comic.number }}</mat-card-title>
    <mat-card-subtitle>
      {{ comic.series }}
      <span *ngIf="comic.volume">Vol. {{ comic.volume }}</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="prevPage()"><mat-icon>skip_previous</mat-icon></button>
    <button mat-button (click)="nextPage()"><mat-icon>skip_next</mat-icon></button>
  </mat-card-actions>
  <div class="image-container">
    <img *ngIf="imagePath" [src]="imagePath" alt="{{ comic.title }} # {{ comic.number }} page {{ currentPage }}">
  </div>
  <mat-card-actions>
    <button mat-button (click)="prevPage()"><mat-icon>skip_previous</mat-icon></button>
    <button mat-button (click)="nextPage()"><mat-icon>skip_next</mat-icon></button>
  </mat-card-actions>
</mat-card>
