<div class="pages-layer" #pagesLayer
  (click)="onClick($event)"
  (swipeleft)="onSwipe(1)"
  (swiperight)="onSwipe(-1)">
  <div class="wrapper" *ngIf="imagePathLeft">
    <img [src]="imagePathLeft | secure | async" class="left"
         alt="{{ comic.title }} # {{ comic.number }} page {{ currentPage }}">
  </div>
  <div class="wrapper" *ngIf="imagePathRight">
    <img [src]="imagePathRight | secure | async" class="right"
         alt="{{ comic.title }} # {{ comic.number }} page {{ currentPage }}">
  </div>
</div>

<div class="control-layer" *ngIf="showPageControls" (click)="onControlClick($event)">
  <div class="top">
    <ion-button (click)="back()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
  <div class="bottom">
    <ion-button (click)="go(-1)">
      <ion-icon name="skip-backward"></ion-icon>
    </ion-button>
    <ion-button (click)="go(+1)">
      <ion-icon name="skip-forward"></ion-icon>
    </ion-button>
  </div>
</div>

<div class="control-layer" *ngIf="showComicControls" (click)="onControlClick($event)">
  <div class="top">
    <ion-button (click)="back()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </div>
  <div class="bottom">
    <ion-button (click)="go(-1)">
      Open previous comic
      <ion-icon name="skip-backward"></ion-icon>
    </ion-button>
    <ion-button (click)="go(+1)">
      Open next comic
      <ion-icon name="skip-forward"></ion-icon>
    </ion-button>
  </div>
</div>
