<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Unrecognized Comics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let comic of comics">
    <ion-card-header>
      <ion-card-title>{{ comic.path }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let error of comic.errors">
          <ion-chip color="danger" outline="true">
            <ion-label>{{ error }}</ion-label>
            <ion-icon name="close-circle"></ion-icon>
          </ion-chip>
        </ion-item>
      </ion-list>
      <ion-button slot="end">
        <ion-icon slot="start" name="create"></ion-icon>
          Edit
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
