\:host
  display: flex
  max-height: 100%
  min-height: 100%
  flex-direction: column

  a.logo
    text-decoration: none
    line-height: 1em

    &:visited
      color: inherit

    .om
      font-size: small
      vertical-align: top

    .k, .x
      font-size: xx-large

    .k
      margin-right: -4px

    .x
      margin-left: -4px

