<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="logo" [routerLink]="['/library']">
      <span class="k">K</span>
      <span class="om">om</span>
      <span class="x">X</span>
    </a>
    <span class="flex-spacer"></span>
    <button mat-button [routerLink]="['/bookmarks']">
      <mat-icon>book</mat-icon>
    </button>
    <button mat-button [routerLink]="['/library']">
      <mat-icon>library_books</mat-icon>
    </button>
    <button mat-button [routerLink]="['/preferences']">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-button>
      <img class="avatar" matTooltip="Logged in as {{ user?.name }}" [src]="user?.picture" />
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
