<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" [hidden]="hideMenu">
      <ion-tab-button tab="bookmarks">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="book"></ion-icon>
        <ion-label>Library</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
