\:host

  .login-overlay
    position: absolute
    display: flex
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: 50% 15%/40% no-repeat url('./../assets/icons/alfred.svg'), white
    align-items: center
    justify-content: center

  img.avatar
    height: 24px
    width: 24px

