<mat-accordion *ngIf="publishers?.length > 0">
  <mat-expansion-panel *ngFor="let publisher of publishers">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ publisher.publisher }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-accordion *ngIf="publisher.series?.length > 0">
      <mat-expansion-panel (closed)="comics = []" *ngFor="let series of publisher.series">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ series.series }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-volume *ngFor="let volume of series.volumes"
          [publisher]="publisher.publisher"
          [series]="series.series"
          [volume]="volume">
        </app-volume>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>

<app-scanner (scanned)="onScanned($event)"></app-scanner>
