<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ comics[0]?.series }} Vol. {{ comics[0]?.volume }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let comic of comics">
    <ion-card-header>
      <ion-card-title>#{{ comic.number }} {{ comic.title }}</ion-card-title>
      <ion-card-subtitle>{{ comic.year }}/{{ comic.month }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <div class="thumbnail">
              <a [routerLink]="['/read', comic.id]"
                [queryParams]="{ page: 0, parent: currentRoute }">
                <ion-badge *ngIf="comic.read"
                class="read-badge" color="secondary">
                  &#10004;
                </ion-badge>
                <ion-badge *ngIf="stored[comic.id]"
                  class="synced-badge" color="secondary">
                  &#9921;
                </ion-badge>
                <img [attr.src]="(thumbnails.get(comic.id) | async)?.url">
              </a>
            </div>
          </ion-col>

          <ion-col size="12" size-md>
            <ion-item lines="none">
              <div [ngClass]="{'expanded': comic.summaryExpanded}" class="comic-summary" (click)="comic.summaryExpanded = !comic.summaryExpanded">
                {{ comic.summary }}
              </div>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" size-sm>
            <ion-item>
              <ion-button *ngIf="comic.read; else notRead"
                class="read-toggle"
                color="primary" fill="clear"
                (click)="markAsUnread(comic)">
                <ion-icon name="qr-code"></ion-icon>
                Mark as unread
              </ion-button>
              <ng-template #notRead>
                <ion-button
                  color="primary" fill="clear"
                  class="read-toggle"
                  (click)="markAsRead(comic)">
                  <ion-icon name="checkmark"></ion-icon>
                  Mark as read
                </ion-button>
              </ng-template>
              <ion-button class="menu" fill="clear" slot="end" (click)="openMenu($event, comic)">
                <ion-icon color="tertiary" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
